:80 {
    respond "Smart Bujet OK" 200
}

:443 {
    tls internal

    handle /api/v1/webhook {
        reverse_proxy backend:8000
    }

    handle /api/* {
        reverse_proxy backend:8000
    }

    handle {
        respond "Smart Bujet API & MiniApp Gateway" 200
    }
}

